.item-list p{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    /* margin-bottom: 10px; */
}
.item-list .item:hover{
    color: #272b23;
    background-color: #14fe17;
    border-radius: 2px;
}