@import "tailwindcss";

@font-face{
  font-family: pipboy;
  src: url('/monofonto.otf');
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

/* --primary-color:#ffd52c */
body{
  font-family:"VT323", pipboy ,sans-serif;
  color: #14fe17;
  background-color: #272b23;
  animation: crtAnimation 100s linear infinite;
}
p{
  font-size: clamp(18px, 3vw, 30px)
}
body::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.4)1px,transparent 1px,transparent 2px);
  opacity: .4;
  pointer-events: none;
}